# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other stuff that makes it weird for Grant to git commit
*.opendb
/LMS-ComputerVision/x64/Debug/*.exe
/LMS-ComputerVision/.vs/LMS_ComputerVision/v16/*.db-shm
